
.choices {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 1em;
}

.playWindow {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: clamp(80em, 70%, 100em);
}

.animeImage {
  width: 20em;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  object-fit: cover;
}

.top {
  flex: 1;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scoreText {
  position: absolute; 
  top: 10px;
  left: 10px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
