
.searchDropdown {
    display: flex;
    position: relative;
    width: 100%;
}

.searchInput {
    display: block;
    font-size: 13px;
    line-height: 1.5;
    border: 2px solid transparent;
    border-radius: 5px;
    width: 100%;
}

.searchBar {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
}

.searchIconDiv {
    padding-left: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchIcon {
  height: 1em;
  width: 1em;
  pointer-events: none;
}

.searchResults {
        display: flex;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 5px;
    max-height: 20em;
    overflow-y: auto;
    z-index: 1000;
}

.searchResultsLoading {
    align-items: center;
    justify-content: center;
}