.choiceBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border-radius: 8px;
  background-color: white;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform-origin: bottom;

}

.choiceBox:hover {
    color: #471A42;
}


