.lobbyWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: 100%;
    gap: 1rem;
}

.header {   
    text-align: center;
    color: white;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.playButton {
    width: 5rem;
}

.playButton button:focus,
.playButton button:active {
    outline: none;
    box-shadow: none; 
    background-color: red;
}

