
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 4rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 15%;
}

.linkWrap {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

#home {
  color: var(--red);
}

.link {
  color: var(--red);
  text-decoration: none;
  font-weight: 500;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -300px;
  height: 100vh;
  width: 250px;
  background: white;
  padding: 1.5rem;
  gap: 1.5rem;
  border-right: 1px solid var(--border-color);
  border-radius: 0 var(--div-radius) var(--div-radius) 0;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.sidebarHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  color: var(--red);
}

.sidebarLink {
  color: black;
}

#xButton {
  margin-left: auto;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  z-index: 999;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.overlay.open {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 600px) {
  .hamburger {
    display: block;
  }

  .linkWrap {
    display: none;
  }
}
