.animeCard {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
  border-radius: 8px;
  background-color: #f0f0f0;
  min-height: 2em;
  
}

.animeCard a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.animeCard:hover {
  background-color: #e0e0e0;
}

.animeCard img {
  max-width: 1.5em;
  border-radius: 4px;
  height: auto;
}

.animeCard span {
  font-size: 0.9em;
  color: black;
}
